@media only screen and (max-width: 1200px) {
    :root{
        --spacer: 0 2em;
        --mobilefont: 3em;
    }

    body#stemmen > article h1{
        font-size: var(--mobilefont);
    }

    body#stemmen .slideshow{
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }

    body#home header div h1 {
        text-align: center;
    }

    body#stemmen .slideshow .leftlogo{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 10%;
    }

    body#home section#intro {
        background-image: none;
    }

    body#stemmen .slideshow .rightlogo {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    body#about > section figure {
        transform: translate(0);
    }

    .arrowleft, .arrowright{
        grid-row: 1/3;
    }

    body#stemmen .slideshow figure{
        height: 300px;
        width: 400px;
    }

    body#stemmen .slideshow i{
        font-size: 0.8em;
    }

    body#about > section{
        flex-direction:column;
        gap: 2em;
      }

      body#about > section figure {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      body#about > section figure img{
        margin-right: 0vw;
      }

      body#about > section article{
        text-align: center;
      }

      body#regelement section#regels > article{
        flex-direction: column;
        align-items: center;
      }

      body#regelement section#regels article > div{
        width: 70%;
        height: 100%;
      }

      body#regelement section#regels article img{
        width: 300px;
      }

      body#regelement section#regels article > div {
        transform: rotate(0deg);
      }
}

@media only screen and (max-width: 768px) {
    :root{
        --spacer: 0 1em;
        --mobilefont: 3em;
    }

    body#home header div h1 {
        margin-left: 0;
        font-size: var(--mobilefont);
        text-align: center;
        word-break: break-word;
    }

    body#home header div h1 br {
        display: none;
    }

    body#home section#intro h1 {
        width: 100%;
        text-align: center;
        font-size: var(--mobilefont);
    }
    body#home section#intro h2 {
        text-align: center;
        font-size: var(--mobilefont);
    }

    body#home section#intro h1::after {
        opacity: 0.3;
    }

    body#home header div::before {
        opacity: 0.5;
        left: -2em;
        transform: scale(1.3);
        top: 27vh;
    }

    body#home section#intro + img {
        margin-top: -2vh !important;
    }

    footer {
    }

    footer h1 {
        font-size: var(--mobilefont);
        text-align: center;
        width: 100%;
    }

    footer article {
        align-items: center;
        gap: 1em;
        margin-top: 1.5em;
    }

    footer article h1 {
        text-align: center;
    }

    footer section:nth-child(2) {
        flex-direction: column;
        gap: 3em;
    }

    footer p {
        word-break: break-word;
        text-align: center;
    }

    body#home section#sponsors > article {
        flex-direction: column;
    }

    body#home section#sponsors h1 {
        text-align: center;
        overflow-wrap: break-word;
    }

    body#home section#informatie img {
        position: absolute;
        opacity: 0.3;
        width: 650px;
        transform: translate(-3em, -3em);
    }

    body nav a#hamburger {
        display: block;
    }

    body#home section#informatie {
        justify-content: center;
        padding-top: 6em;
    }

    body#home section#informatie article {
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 2em;
    }

    body#home section#informatie h1 {
        text-align: center;
        font-size: var(--mobilefont);
        width: 100%;
    }

    
    body#home section#inschrijven h1 {
        font-size: var(--mobilefont);
    }

    body#home section#socials h1 {
        font-size: var(--mobilefont);
        width: 100%;
    }

    body#home section#socials {
        flex-direction: column;
        text-align: center;
    }

    body#home section#socials div {
        flex-direction: row;
    }

    body#home section#socials div a {
        transform: scale(0.8) !important;
    }

    nav ul#navlinks {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--white);
        text-align: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        transform: translateY(-100%);
        z-index: 10000;
        transition: 300ms ease-in-out;
    }

    nav ul#navlinks a {
        font-weight: 400;
        margin: 2vh 0;
        font-size: 2em;
    }

    nav a#hamburger {
        display: block;
        z-index: 100000;
        font-size: 1.5rem;
        cursor: pointer;
    }

    body#stemmen header:nth-child(3) h1 ,
    body#stemmen header:nth-child(3) i,
    body#stemmen > article h1,
    body#inschrijven header:nth-child(3) h1,
    body#inschrijven article:nth-child(6) div h1,
    body#about header h1,
    body#regelement header h1,
    body#regelement section#regels > h1,
    body#regelement section#regels article > div h1{
        font-size: var(--mobilefont);
        word-break: break-word;
        overflow-wrap: break-word;
        text-align: center;
    }

    body#stemmen > article h1 {
        width: 100%;
        overflow-wrap: normal;
    }

    body#stemmen > article:nth-child(5){
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
        align-items: center;
        padding-bottom: 17vh;
    }

    body#stemmen > article:nth-child(5) img{
        width: 70%;
    }

    body#stemmen .slideshow{
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }

    body#stemmen .slideshow .leftlogo{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 10%;
    }

    body#stemmen .slideshow .rightlogo {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .arrowleft, .arrowright{
        grid-row: 1/3;
    }

    body#stemmen .slideshow figure{
        height: 250px;
        width: 300px;
    }

    body#stemmen .slideshow i{
        font-size: 0.8em;
    }

    body#inschrijven section:nth-child(4) form{
        grid-template-columns: 1fr;
        padding: var(--spacer);
        grid-row-gap: 20px;
        grid-column-gap: 0px;
    }
    body#inschrijven section:nth-child(4) form div:nth-child(1),
    body#inschrijven section:nth-child(4) form div:nth-child(2),
    body#inschrijven section:nth-child(4) form div:nth-child(3),
    body#inschrijven section:nth-child(4) form div:nth-child(4),
    body#inschrijven section:nth-child(4) form div:nth-child(6),
    body#inschrijven section:nth-child(4) form div:nth-child(7){
        grid-column: 1/3;
        margin: var(--spacer);
      }

      body#about > section{
        flex-direction:row;
        gap: 0em;
      }

      body#about > section figure {
        width: 35%;
        display: flex;
        justify-content: center;
      }

      body#about > section figure img {
        object-fit: contain;
        width: 300px;
      }

      body#about > section#missie figure img {
        position: relative;
        left: -9em;
      }

      body#about > section#visie figure img {
        width: 500px;
        position: relative;
        right: -7em;
        opacity: 0.5;
      }

      body#about > section article p, body#about > section article h1 {
        text-align: left;
      }

      body#stemmen > article:nth-child(9) h1:nth-child(2) {
        text-align: center;
      }

      body#stemmen > article:nth-child(9) h1:nth-child(1) {
        text-align: center;
      }

      body#inschrijven section:nth-child(4) form input:nth-child(7) {
        grid-column: 1/5;
      }

      body#inschrijven section:nth-child(4) form input:nth-child(6){
        grid-column: 1/5;
    }

    body#regelement section#regels > article {
        align-items: flex-start;
    }

    body#regelement section#regels > article {
        padding: 0;
    }

    body#regelement section#regels article > div {
        width: 100%;
    }

    body#regelement section#regels article img {
        width: 100%;
    }

    body#home section#socials div a:nth-child(2) {
        margin-left: 0;
    }

    body#regelement section#regels > h1 {
        text-align: left;
    }

    body#home section#intro {
        background-image: none;
    }

    body#home section#sponsors h1 {
        font-size: var(--mobilefont);
        overflow-wrap: normal;
        word-break: break-all;
    }
    
    body#about > section article {

    }

    footer {
        gap: 2em;
    }
} 