/* ###---------
    GENERAL
 ---------### */

:root{
    /* PRIMARY */
    --black: #000000;
    --white: #ffffff;

    /* STYLE 1 */
    --s1_blue: #2850E0;
    --s1_darkblue: #121CA1;
    --s1_lighterblue: #6192D8;
    --s1_lightblue: #BBD0EE;
    --s1_orange: #E26A35;
    --s1_yellow: #E9B849;
    --s1_lightyellow: #F9D52D;
    --s1_gray: #F5F5F5;
    --s1_darkgray: #8C8C8C;

    /* STYLE 2 */


    /* STYLE 3 */
}


/* ###---------
    INDEX PAGE
 ---------### */

body#index {
    padding: 0 5em;
    padding-top: 5em;
}

body#index main header img {
    width: 100px;
}

body#index main header {
    margin-bottom: 2em;
    font-weight: 500;
}

body#index main > section h2 {
    color: var(--s1_darkblue);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

body#index main > section h1 {
    color: var(--black);
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 2vh;
}

body#index main article {
    display: flex;
    flex-direction: row;
    gap: 2em;

    transition: 300ms ease-in-out;
}

body#index main article a{
    width: 350px;
    height: 350px;

    background-color: var(--black);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: 300ms ease-in-out;

}

body#index main article a:hover i {
    transition: 150ms ease;
}

body#index main article a:hover{
    border-radius: 10px;

    transform: scale(1.01);
}

body#index main article a:hover i{
    transform: translateX(10px);
}

body#index main article a:nth-child(1){
    background-image: url(../assets/images/index_stijltegel1.png);
    background-position: center;
}

body#index main article a:nth-child(2){
    background-image: url(../assets/images/index_stijltegel2.png);
    background-position: center;
}

body#index main article a:nth-child(3){
    background-image: url(../assets/images/index_stijltegel3.png);
    background-position: center;
}

body#index main article a h1 {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 2vh;
}

/* ###---------
    STIJLTEGEL 1
 ---------### */

body#stijltegel1 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    margin-top: 4em;
}

body#stijltegel1 nav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

body#stijltegel1 nav > a {
    font-weight: 700;
}

body#stijltegel1 nav a {
    color: white;
    letter-spacing: 1px;
}

body#stijltegel1 header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 2em;
    color: white;
}

body#stijltegel1 header h1 {
    font-size: 5em;
    font-weight: 700;
}

body#stijltegel1 header a {
    color: white;
}

body#stijltegel1 header i {
    animation: floating 3s infinite;
    transition: 300ms ease-in-out;
    font-size: 2em;
}

body#stijltegel1 header video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100;
    filter: brightness(75%);
    height: 100vh;
}



body#stijltegel1 div.kleur_blok {
    width: 30%;
}

body#stijltegel1 section#kleuren {
    padding: 10em;
    padding-bottom: 5vh;
}

body#stijltegel1 section#kleuren article > section {
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

body#stijltegel1 section#kleuren > h1 {
    font-weight: 700;
}

body#stijltegel1 section#kleuren h2 {
    color: var(--s1_darkgray);
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 2vh;
}

body#stijltegel1 div.kleur_blok div:nth-child(1){
    display: flex;
    flex-direction: row;
}

body#stijltegel1 div.kleur_blok div:nth-child(1) div{
    width: 50%;    
}

body#stijltegel1 div.kleur_blok div:nth-child(2){
    background-color: var(--s1_gray);
    height: 100px;
    padding-inline: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

body#stijltegel1 div.kleur_blok div:nth-child(2) h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0;
}

body#stijltegel1 div.kleur_blok div:nth-child(2) p {
    color: #737373;
    font-size: 0.8em;
    padding: 0;
    font-weight: 300;
}


body#stijltegel1 section#typografie hr {
    opacity: 0.3;
}

body#stijltegel1 section#typografie article {
    padding: 0em 10em 5vh 10em;
} 

body#stijltegel1 section#typografie article:nth-child(1) h1 {
    font-weight: 700;
    margin-bottom: 4vh;
}

body#stijltegel1 section#typografie article:nth-child(1) h2 {
    font-size: 2em;
}


body#stijltegel1 section#typografie article:nth-child(1) p {
    font-size: 1.5em;
    color: #747474;
    margin-bottom: 2vh;
}

body#stijltegel1 section#typografie article:nth-child(1) p b {
    font-weight: 700;
}


body#stijltegel1 section#typografie article:nth-child(1) div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #ECE9F9;
    border-radius: 2px;
    padding: 1em;
    min-height: 100px;

}
body#stijltegel1 section#typografie article:nth-child(1) div h1 {
    margin: 0;
    font-size: 3em;
}

body#stijltegel1 section#typografie article:nth-child(1) div p {
    font-size: 1em;
    color: black;
    margin: 0;
}


body#stijltegel1 section#typografie article:nth-child(2) div {
    display: flex;
    padding-bottom: 5vh;
}

body#stijltegel1 section#typografie article:nth-child(2) div section {
    width: 50%;
}

body#stijltegel1 section#typografie article:nth-child(2) div section:nth-child(1) h1 {
    font-weight: 600;
}

body#stijltegel1 section#typografie article:nth-child(2) div section:nth-child(1) p {
    font-weight: 300;
}

body#stijltegel1 section#typografie article:nth-child(2) div section:nth-child(2) h1{
    font-size: 54px;
    font-weight: 700;
}

body#stijltegel1 section#typografie article:nth-child(2) div#h2 section:nth-child(2) h1  {
    font-size: 38px;
}

body#stijltegel1 section#typografie article:nth-child(2) div#body section:nth-child(2) h1 {
    font-size: 24px;
    font-weight: 400;
}

body#stijltegel1 section#typografie article:nth-child(2) div#bodysmall section:nth-child(2) h1 {
    font-size: 16px;
    font-weight: 300;
}

body#stijltegel1 section#visueel {
    padding: 0em 10em 5vh 10em;
}

body#stijltegel1 section#visueel h1 {
    font-weight: 700;
    margin-bottom: 2vh;
}

body#stijltegel1 section#visueel h2 {
    color: var(--s1_darkgray);
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-bottom: 2vh;
    letter-spacing: 1.2px;
}

body#stijltegel1 section#visueel figure {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 2vh;
}

body#stijltegel1 section#visueel div {
    margin-bottom: 4vh;
}

body#stijltegel1 section#visueel div:last-child figure {
    display: flex;
    flex-wrap: wrap;
}

body#stijltegel1 section#visueel div:last-child img{
    width: 250px;
}

.s1_button_primair {
    padding: 1em 2em;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.s1_button_primair + .s1_button_primair {
    background-color: var(--s1_blue);
}

.s1_button_secundair {
    padding: 1em 2em;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    border: 2px solid var(--black);
    font-size: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.s1_button_secundair + .s1_button_secundair {
    background-color: var(--s1_blue);
    color: var(--white);
    border: none;
}

.s1_button_icon {
    background-color: var(--black);
    color: var(--white);
    padding: 1em 1.5em;
    border-radius: 4px;
}

.s1_button_icon i {
    font-size: 2em;
}

body#stijltegel1 footer {
    background-color: var(--s1_blue);
    padding: 5vh 10em 5vh 10em;
}

body#stijltegel1 footer img {
    width: 100px;
    object-fit: contain;
}

body#stijltegel1 footer a + a img {
    width: 200px;
}

body#stijltegel1 footer figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

body#stijltegel1 footer ul {
    display: flex;
    gap: 2em;
    margin-top: 2vh;
}

body#stijltegel1 footer ul a {
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}